

body{
  margin: 5em;
}

a{
  text-decoration:none;
}

a:link {
  color: #0000EE
}

a:visited {
  color: #551A8B;
}


a:hover {
  text-decoration:underline;
}


a:active {
  color: #000055;
}

nav{
  border-bottom: solid;
  border-color: grey;
  border-width: 3px;
}

ul{  
  padding: 0;
  list-style-type: none;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
}

footer > p{
  margin: 0;
}

h1 {
  border-bottom: solid;
  border-bottom-width: 5px;
  font-size: 5em;
}

footer{
  border-top: solid;
  border-top-width: 5px;
  border-top-color: black;
}

h1>span{
  display: block;
  color : grey;
  font-style: italic;
}
